<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.desafiomarvel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesafioMarvel"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.activity.DescriptionActivity" android:theme="@style/Theme.Spider"/>
        <activity
            android:name=".view.activity.HomeActivity"
            android:theme="@style/Theme.Spider2" />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:theme="@style/Theme.Spider" />
        <activity
            android:name=".view.activity.TelaLoginActivity"
            android:theme="@style/Theme.Spider" />
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/Theme.Spider">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>